body{
    width: 90%;
    margin: auto;
}

/* USERS FORM */

.user_data h2{
    text-align: center;
    margin: 20px auto;
    color: rgb(71, 61, 212);
}

.user_data form{
    text-align: center;
    margin: 20px auto;
    width: 50%;
    /* border: solid lime 1px; */
}
.user_data button{
    background-color: rgb(71, 61, 212);
    color: rgb(236, 230, 201);
    padding: 10px;
    margin: auto;
    font-weight: bolder;
    border-radius: 6px;
}

/* USERS TABLE */
.users_table{
    margin: auto;
    padding: 20px;
}

.users_table th{
    border-bottom: solid 3px rgb(71, 61, 212);
    margin: 10px;
    padding: 10px;
}

.users_table tr:nth-child(even){
    background-color: rgb(143, 136, 238);
}

.users_table td{
    padding: 10px;
}

.users_table tr:hover{
    color: rgb(236, 230, 201);
    background-color: rgb(71, 61, 212);
    transition: 2s;
    cursor: pointer;
}